// $laptop: 1640px; // or this
$laptop: 1440px;
$tablet: 1023px;
$mobile: 767px;
$mobile-s: 480px;


@mixin laptop {
	@media (width <= $laptop) { @content; }
}
@mixin laptop-above {
	@media (width > $laptop) { @content; }
}


@mixin tablet {
	@media (width <= $tablet) { @content; }
}
@mixin tablet-above {
	@media (width > $tablet) { @content; }
}


@mixin mobile {
	@media (width <= $mobile) { @content; }
}
@mixin mobile-above {
	@media (width > $mobile) { @content; }
}


@mixin mobile-s {
	@media (width <= $mobile-s) { @content; }
}
@mixin mobile-s-above {
	@media (width > $mobile-s) { @content; }
}



@mixin hover {
	@media (any-hover: hover) {
		&:hover { @content; }
	}
	
	@media (any-hover: none) {
		&:active { @content; }
	}
}


// Usage: @include media(color, red,green,blue);
@mixin media($prop, $desktop, $laptop, $mobile: $laptop) {
    #{$prop}: $desktop;
    @include laptop { #{$prop}: $laptop; }

	@if $laptop != $mobile {
		@include mobile { #{$prop}: $mobile; }
	}
}
