.tags {
	&__list {
		display: flex;
		flex-wrap: wrap;
		@include media(gap, 10px, 6px);
	}

	&__item {
		display: flex;
		align-items: center;
		column-gap: 4px;

		padding-inline: 14px;
		@include media(padding-block, 8px, 6px);

		border: var(--border);
		border-radius: 999px;
		background-color: var(--color-gray-10);
		color: var(--color-white);
	}
}