.author {
	display: grid;
	grid-template:
		'image  name'
		'image  location' / auto 1fr;
	@include media(column-gap, 12px, 10px);
	
	&__image {
		border-radius: 50%;
		grid-area: image;
	}
	&__name {
		grid-area: name;
	}
	&__location {
		grid-area: location;
	}
}