.container {
	width: 100%;
	margin-inline: auto;
	padding-inline: var(--container-padding-x);
	max-width: calc(var(--container-width) + var(--container-padding-x) * 2);

	&--wide {
		--container-width: 1920px;
	}
}

.visually-hidden {
	@include visually-hidden;
}


.hidden-mobile {
	@include mobile { display: none !important; }
}
.visible-mobile {
	@include mobile-above { display: none !important; }
}


.hidden-tablet {
	@include tablet { display: none !important; }
}
.visible-tablet {
	@include tablet-above { display: none !important; }
}