.header {
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 2;

	&__promo {
		color: var(--color-white);
		border-bottom: var(--border);
		text-align: center;

		background:
			linear-gradient(#202020aa, #202020aa), // opacity
			url('@/assets/images/header/promo.svg') center/cover no-repeat;

		&-inner {
			@include flex-center;
			@include media(gap, 10px, 6px, 6px);
			@include media(padding-block, 18px, 14px);

			position: relative;
			padding-right: calc(var(--container-padding-x) * 2 + 26px);

			@include mobile-s {
				flex-direction: column;
			}
		}

		&-close-button {
			@include flex-center;
			@include square(fluid-to-laptop(32, 26)); // вместо padding

			@include abs-center-y;
			right: var(--container-padding-x);

			border-radius: 50%;
			background-color: #fff4;
			color: var(--color-white);

			border: none;

			@include hover {
				background-color: var(--color-purple-60);
				scale: 1.1;
			}
		}
	}



	&__body {
		@include media(padding-block, 20px, 14px, 20px);

		background-color: var(--color-gray-10);
		border-bottom: var(--border);

		&-inner {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		animation: header linear both;
		animation-timeline: scroll();
		animation-range: 0 100px;

		@keyframes header {
			to {
				padding-block: 10px;
				box-shadow: 0 2px 5px #333;
			}
		}
	}



	// dialog
	&__overlay {
		position: fixed;
		inset: 0;
		width: 100%;
		height: 100%;
		border: none;
		
		background-color: var(--color-gray-15);

		&[open] {
			display: flex;
		}
		row-gap: 30px;
		overflow: auto;

		align-items: center;
		flex-direction: column;

		@include mobile-above {
			display: contents;
		}




		transition-duration: var(--transition-duration);
		transition-behavior: allow-discrete;

		&[open] {
			@starting-style {
				opacity: 0;
				translate: 50%;
			}
		}

		&:not([open]) {
			opacity: 0;
			translate: -50%;
		}
	}

	&__menu {
		color: var(--color-white);

		@include mobile {
			margin-block: auto;
		}

		&-list {
			display: flex;
			gap: 6px;

			@include mobile {
				flex-direction: column;
				align-items: center;
				gap: 10px;
			}
		}

		&-link {
			@include media(padding-inline, 24px, 20px);
			@include media(padding-block, 14px, 12px);

			&.is-active {
				pointer-events: none;
				border-radius: 10px;

				border: var(--border);
				background-color: var(--color-gray-08);
			}
		}
	}

	&__burger-button {
		position: relative;
	}
}